::-webkit-scrollbar-track {
    background-color: none;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
     #F5F5F5;*/
}

::-webkit-scrollbar {
    width: 18px;
    /*background-color: #F5F5F5;*/
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 0 0 10px 10px #6666;
    border: solid 6px transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: solid 6px transparent;
    -webkit-box-shadow: inset 0 0 12px black;
    background-color: none;
}

body {
    background-color: white;
    stroke: white;
    font-family: sans-serif;

}

body.dark-mode {
    background-color: black;
}
button{
    border: none;
}
button:focus{
    outline: none;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background: inherit;
    overflow: hidden;
    touch-action: none;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 70vmax 70vmax;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.93 16.93"><g fill-rule="evenodd"><path d="M14.27 8.79c.46 1.5-2.08 2.48-2.31 4.02-.23 1.5 1.9 3.21 1.02 4.45-.9 1.27-3.28-.1-4.65.65-1.33.74-1.32 3.43-2.85 3.5-1.58.08-2.02-2.6-3.49-3.2-1.43-.58-3.55 1.07-4.59-.08-1.06-1.17.78-3.14.3-4.65-.45-1.46-3.1-2.1-2.86-3.6.25-1.54 2.98-1.32 3.87-2.6.87-1.24-.32-3.68 1.02-4.4 1.37-.75 2.93 1.5 4.51 1.4 1.54-.08 2.7-2.49 4.13-1.9 1.47.62.7 3.2 1.77 4.37 1.05 1.13 3.7.57 4.13 2.04z" fill="rgb(181, 247, 242)"/><path d="M11.9 9.8c.35 1.2-1.59 1.98-1.77 3.2-.18 1.2 1.46 2.56.79 3.54-.7 1-2.52-.08-3.57.52-1.02.59-1.01 2.73-2.19 2.78-1.2.06-1.54-2.07-2.67-2.54-1.1-.47-2.72.85-3.52-.07-.82-.93.6-2.5.23-3.7-.34-1.16-2.38-1.66-2.2-2.86.2-1.22 2.29-1.04 2.97-2.06.67-.99-.25-2.93.78-3.5C1.81 4.5 3 6.3 4.21 6.22 5.4 6.16 6.3 4.25 7.38 4.72c1.13.49.53 2.54 1.35 3.46.8.9 2.84.46 3.17 1.63z" fill="rgb(0, 221, 255)"/></g></svg>');
}

.dark-mode #main {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.93 16.93"><g fill-rule="evenodd"><path d="M14.27 8.79c.46 1.5-2.08 2.48-2.31 4.02-.23 1.5 1.9 3.21 1.02 4.45-.9 1.27-3.28-.1-4.65.65-1.33.74-1.32 3.43-2.85 3.5-1.58.08-2.02-2.6-3.49-3.2-1.43-.58-3.55 1.07-4.59-.08-1.06-1.17.78-3.14.3-4.65-.45-1.46-3.1-2.1-2.86-3.6.25-1.54 2.98-1.32 3.87-2.6.87-1.24-.32-3.68 1.02-4.4 1.37-.75 2.93 1.5 4.51 1.4 1.54-.08 2.7-2.49 4.13-1.9 1.47.62.7 3.2 1.77 4.37 1.05 1.13 3.7.57 4.13 2.04z" fill="rgb(70, 21, 74)"/><path d="M11.9 9.8c.35 1.2-1.59 1.98-1.77 3.2-.18 1.2 1.46 2.56.79 3.54-.7 1-2.52-.08-3.57.52-1.02.59-1.01 2.73-2.19 2.78-1.2.06-1.54-2.07-2.67-2.54-1.1-.47-2.72.85-3.52-.07-.82-.93.6-2.5.23-3.7-.34-1.16-2.38-1.66-2.2-2.86.2-1.22 2.29-1.04 2.97-2.06.67-.99-.25-2.93.78-3.5C1.81 4.5 3 6.3 4.21 6.22 5.4 6.16 6.3 4.25 7.38 4.72c1.13.49.53 2.54 1.35 3.46.8.9 2.84.46 3.17 1.63z" fill="rgb(30, 5, 47)"/></g></svg>');
}

.app {
    position: absolute;
    background-color: #4158D0;
    background-image: linear-gradient(156deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 16px;
    width: 56px;
    height: 56px;
    top: -100px;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    /*z-index: 2;*/
    overflow: hidden;
    box-sizing: border-box;
}

.appMove {
    border-top: 6px white solid;
    transition: border-radius 0.4s, width 0.4s, height 0.4s;
}

#bar {
    position: absolute;
    width: 256px;
    height: 128px;
    border-radius: 16px;
    /*border: white 3px solid;*/
    background-color: #7774;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 64px;
    box-sizing: border-box;
    z-index: 1;
}

#barHandle {
    width: 80%;
    height: 32px;
    border-radius: 32px;
    /*border: white solid 3px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
}

.app-max {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    top: 50% !important;
    left: 50% !important;
}

#app-center {
    position: absolute;
    /*border: white solid 3px;*/
    z-index: -1;
    background-color: #7774;
    box-sizing: border-box;
    border-radius: 16px;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
button#app-sort-button{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 8px;
    background: center / 24px no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="gray"><path d="M0 0h24v24H0V0z" fill="none"/><circle cx="7" cy="14" r="3"/><circle cx="11" cy="6" r="3"/><circle cx="16.6" cy="17.6" r="3"/></svg>')
}
.sorting--enabled{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="gray"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 13a2 2 0 012 2 2 2 0 01-2 2 2 2 0 01-2-2c0-1.1.9-2 2-2zm-8 2c0 1.1.9 2 2 2a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2zm-6 0c0 1.1.9 2 2 2a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2zm4-6a2 2 0 00-2-2 2 2 0 00-2 2c0 1.1.9 2 2 2a2 2 0 002-2zm2 0c0 1.1.9 2 2 2a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2zm6 0c0 1.1.9 2 2 2a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2z"/></svg>') !important;
}

#nav-line {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    pointer-events: none;
    stroke: inherit;
    mix-blend-mode: difference;
    z-index: -1;
}


#main-title {
    border-radius: 32px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    border: 5px white solid;
    fill-opacity: 0;
    mix-blend-mode: difference;
    stroke: white;
    stroke-width: 5;
    stroke-linejoin: bevel;
    transition: top 0.3s;
    z-index: -1;
}

#main-title.shrink {
    left: 0;
    transform: translate(-112px, -65px) scale(.25, .25); /*yuck*/
}

#main-title * {
    animation: pulse 1.2s backwards;
}

.a {
    animation-delay: 0.5s !important;
    transition: transform 1s;
}

.a2 {
    animation-delay: 0.75s !important;
    transition: transform 1s;
}

.k {
    animation-delay: 1.25s !important;
}

.k2 {
    animation-delay: 1.5s !important;
}

.e {
    animation-delay: 2s !important;
}

.A {
    animation-delay: 2.5s !important;
}

.A2 {
    animation-delay: 2.75s !important;
}

.v {
    animation-delay: 3.25s !important;
}

.o {
    animation-delay: 3.75s !important;
}

.y {
    animation-delay: 4.25s !important;
}

.y2 {
    animation-delay: 4.75s !important;
}

@keyframes pulse {
    0% {
        stroke-dasharray: 0 250;
        /*stroke-width:1;*/
    }

    100% {
        stroke-dasharray: 250 0;
        /*stroke-width:10;*/
    }
}


.canvas-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    margin: 0;
    top: 0;
    overflow: hidden;
    touch-action: none;
    pointer-events: none;

}

.canvas-holder * {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#afterImage {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    left: 50%;
    top: 0;
    overflow: hidden;
    transition: opacity 0.6s;
    transform: translate(-50%);
    touch-action: none;
}


@keyframes sunset {
    0% {
        background-position: 32% 0%
    }

    50% {
        background-position: 69% 100%
    }

    100% {
        background-position: 32% 0%
    }
}

.app-icon {
    position: relative;
    width: 100%;
    height: 100%;
    background: center / 48px no-repeat;
    pointer-events: none;
}

.app-max .app-icon {
    background-image: none !important;
    /*I am pure evil*/
}

#app1 {
    background-color: #FAD961;
    background-image: linear-gradient(150deg, #FAD961 0%, #F76B1C 100%);
}

#app1 .app-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.9 16.9"><g fill="white"><path d="M7.5 8h1.3l2.6-4 2.4 4h2L12 2.2l-7-.7-4 3.8z"/><path d="M2.4 6.9l5.2 2.2h2l1.9-3.5 2 3.3h1.2v6.4h-1.8v-3.9h-3v4l-2.4.3-5.3-3.1z"/></g></svg>');
}

.dark-mode #app1 {
    background-color: #C61B12;
    background-image: linear-gradient(150deg, #C61B12 0%, #38053B 100%);
    border: solid 4px #FAD961;
}

#app2 {
    background-color: #17145D;
    border: solid 4px rgb(250, 1, 200);
    /*background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);*/
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 0 24 24" width="48"  ><path stroke-width="4" stroke="rgb(150,000,250)" d="M1 1h24v24H1V1z" fill="none"/><path stroke-width="2" stroke="rgb(250,1,200)" d="M0 0h24v24H0V0z" fill="none"/></svg>');
    animation: backgroundMove 2s infinite linear;
}

#app2 .app-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.9 16.9" fill="white"><path d="M7 1.3c-1.8.4-4.3 1.8-4.7 3-.6 2.4.2 4 .6 5.4-.5.4.6 3.1 2.6 1.7l.8 2.7h1.2l.2-1.2.3 2h1.6l.4-2 .2 1.4h.9l.6-2.7c1 .9 2.9-1 2-2.2 1-1.1 1.3-1.9 1-3.9-.3-2-1.9-3.5-3.6-4.2zm4.6 5c1.1.2 1.6 1 1.4 1.7-.2.6-1 .8-2 .6-.9-.2-1.5-1-1.4-1.5.1-.4.9-1 2-.8zm-3.7.4c.2.6-.3 1.9-1.3 2.2-1 .4-2-.3-2.3-.9-.2-.6.1-1.6 1.4-1.9 1.3-.2 2 .3 2.2.6zm1 2.2l.6.4.3 1.6c-.6-.3-1.2-.2-1.7 0l.1-1.5c.1-.1.5-.5.7-.5z"/></svg>');
}

.dark-mode #app2 {
    background-color: black;
    /*background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);*/
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 0 24 24" width="48"  ><path stroke-width="4" stroke="rgb(0, 11, 125)" d="M1 1h24v24H1V1z" fill="none"/><path stroke-width="2" stroke="rgb(59, 0, 0)" d="M0 0h24v24H0V0z" fill="none"/></svg>');
}

#app3 {
    background-color: #4158D0;
    background-image: linear-gradient(156deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#app3 .app-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.9 16.9"><g fill="white"><rect width="2.2" height="4.4" x="3.6" y="8.9" ry=".1"/><rect width="1.9" height="6.4" x="6.7" y="6.9" ry=".2"/><rect width="1.9" height="5.3" x="9.7" y="8.1" ry=".2"/><path d="M1.5 1.8c0-.3 1.3-.3 1.3 0l-.1 12.4h12.2c.4 0 .5 1 0 1H1.5V1.7z"/><rect width="2.2" height="11.7" x="12.6" y="1.7" ry=".5"/></g></svg>');
}

.dark-mode #app3 {
    border: #C850C0 4px solid;
    background-color: #0C0F1D;
    background-image: linear-gradient(156deg, #0C0F1D 30%, #81347F 46%, #5D0B11 80%);
}

#app4 {
    background-color: white;
    background-image: linear-gradient(200deg, white 0%, #E7A3F0 30%);
}

#app4.app-max {
    background-image: linear-gradient(200deg, white 60%, #E7A3F0 100%);
}

#app4 .app-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.9 16.9"><g fill="white"><path d="M2 9v5.1c0 .6.5 1 1 1h11c.6 0 1-.4 1-1v-5a1 1 0 01-1 .7h-3.8v.8c0 .3-.3.6-.5.6H7.6c-.3 0-.5-.3-.5-.6v-.8H3A1 1 0 012 9zM6.8.2c-.7 0-1.2.7-1.2 1.5v1.5H3a1 1 0 00-1 1v3.2c.1.6.5 1 1 1h4v-1c0-.4.3-.7.5-.7h2.1c.3 0 .5.3.5.7l.1 1h4c.2 0 .5-.3.7-.6V4.2c0-.5-.4-1-1-1h-2.4V1.7c0-.8-.6-1.5-1.3-1.5H6.8zm.8 1.3h2c.3 0 .5.6.5 1v.7h-3v-.8c0-.5.2-.9.5-.9z"/><path d="M8 7.7h1.3a.2.2 45 01.2.2v2a.2.2 135 01-.2.3H8a.2.2 45 01-.2-.2V8a.2.2 135 01.2-.3z"/></g></svg>');
}

.dark-mode #app4 {
    background-color: black;
    background-image: linear-gradient(200deg, black 60%, #561C53 100%);
    border: solid 4px white;
}

#app5 {
    background-color: #85FFBD;
    background-image: linear-gradient(180deg, #85FFBD 0%, #FFFB7D 100%);
}
#app5 .app-icon{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 16.9 16.9"><path d="M8.4 2.1c-1.8 0-3.6.6-5 1.7-2.8 2-2.2 4.5-.7 6.1 1.4 1.7 4 1.8 4.2 1.8.1 0 1 2.6 2.6 2.6-.8-1.8.5-2.7.5-2.7s2 .1 4-1.7c2-1.9 1.8-4-.7-6.2C12 2.6 10.2 2 8.4 2zm3.2 4.3c.6 0 1.1.4 1.1 1s-.5 1-1 1a1 1 0 01-1.1-1c0-.6.4-1 1-1zm-6.3 0c.6 0 1 .4 1 1s-.4 1-1 1a1 1 0 01-1.1-1c0-.6.5-1 1-1zm3 0h.1c.6 0 1 .4 1 1s-.4 1-1 1a1 1 0 01-1-1c0-.6.4-1 1-1z" fill="white"/></svg>');
}
.dark-mode #app5 {
    background-color: #094112;
    background-image: linear-gradient(180deg, black 0%, #094112 100%);
    border: solid 4px #85FFBD;
}


#app4 .canvas-holder {
    height: 256px;
    width: 256px;
    border-radius: 128px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@keyframes backgroundMove {
    from {
        background-position: 0 48px;
    }

    to {
        background-position: 0 0px;
    }
}

#brightness {
    z-index: 3;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: absolute;
    top: 0;
    right: 0;
    background: center / 48px no-repeat;


    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="white"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22.6 11.29L20 8.69V5c0-.55-.45-1-1-1h-3.69l-2.6-2.6c-.39-.39-1.02-.39-1.41 0L8.69 4H5c-.55 0-1 .45-1 1v3.69l-2.6 2.6c-.39.39-.39 1.02 0 1.41L4 15.3V19c0 .55.45 1 1 1h3.69l2.6 2.6c.39.39 1.02.39 1.41 0l2.6-2.6H19c.55 0 1-.45 1-1v-3.69l2.6-2.6c.39-.39.39-1.03 0-1.42zm-4.68 1.69c-.34 2.12-1.85 3.94-3.88 4.66-1.21.43-2.41.45-3.5.18-.41-.1-.48-.65-.13-.9C11.98 15.84 13 14.04 13 12s-1.02-3.84-2.58-4.92c-.35-.24-.29-.79.13-.9 1.09-.27 2.29-.25 3.5.18 2.02.72 3.54 2.54 3.88 4.66.05.33.07.66.07.98-.01.32-.03.65-.08.98z"/></svg>');
}

.brightnessDark {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" ><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 15.31l2.6-2.6c.39-.39.39-1.02 0-1.41L20 8.69V5c0-.55-.45-1-1-1h-3.69l-2.6-2.6c-.39-.39-1.02-.39-1.41 0L8.69 4H5c-.55 0-1 .45-1 1v3.69l-2.6 2.6c-.39.39-.39 1.02 0 1.41L4 15.3V19c0 .55.45 1 1 1h3.69l2.6 2.6c.39.39 1.02.39 1.41 0l2.6-2.6H19c.55 0 1-.45 1-1v-3.69zM12 18c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6z"/></svg>') !important;
}

cube {
    --s: 1s;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.3);
    transition: transform 1s;
    /*transform:  rotate(0,0,1, 10deg);*/
    animation: cubeSpin var(--s) linear forwards infinite;
    outline: 5px solid black;
    box-sizing: border-box;
}

cube:before {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    top: 00px;
    left: 0px;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.3);
    transform: rotateX(90deg) translateZ(50px) translateY(-50px);
    outline: 5px solid black;
    box-sizing: border-box;
}

cube:after {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    /*top:100px;
	left:0px;*/
    position: absolute;
    background-color: rgba(0, 255, 0, 0.3);
    transform: rotateY(90deg) translateZ(50px) translateX(50px);
    outline: 5px solid black;
    box-sizing: border-box;
}

@keyframes cubeSpin {
    00% {
        transform: rotate3d(-1, 0, 0, 90deg) translate3d(-50%, -50%, 50px);
    }

    33% {
        transform: rotate3d(0, -1, 0, 90deg) translate3d(-50%, -50%, 50px);
    }

    66% {
        transform: rotate3d(0, 0, 0, 90deg) translate3d(-50%, -50%, 50px);
    }

    100% {
        transform: rotate3d(-1, 0, 0, 90deg) translate3d(-50%, -50%, 50px);
    }

    /*80% {transform: rotate3d(-1,-1,-1, 90deg) translate3d(0,0,50px);}
	90% {transform: rotate3d(-1,-1,1, 90deg) translate3d(0,0,50px);}
	100% {transform: rotate3d(-1,-1,-1, 90deg) translate3d(0,0,50px);}*/

    /*90% {transform: rotate3d(-1,-1,0, 90deg)translate3d(0,0,50px);}*/
    /*60% {transform:  rotate3d(-2,0,-1, 45deg);}*/
    /*60% {transform:  rotate3d(0,-1,0, 90deg);}
	80% {transform:  rotate3d(-1,-1,1, 60deg);}
	100% {transform:  rotate3d(0,0,0, 0deg);}*/
}

.lineButton {
    animation: lineWiggle 4s linear infinite;
    stroke-dasharray: 100 20;
    stroke: inherit;
}

@keyframes lineWiggle {
    0% {
        stroke-dashoffset: 0;
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1, 0.8)
    }

    100% {
        stroke-dashoffset: var(--offset);
        transform: scale(1, 1)
    }
}

#closeButton{
        /*transition: opacity 0.2s;*/
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: absolute;
    left: 50%;
    bottom: 128px;
    transform: translate(-50%);
    background: center / 36px no-repeat #5553; 
    z-index: 3; /*there's a lot going on with zIndex, needs tracing how this happened*/
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="white" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
}